<h1>Create a new tadpole for <%= @frog.name %></h1>
<%= form_for(@tadpole) do |f| %>
  Name: <%= f.text_field :name %>
  Color: <%= f.text_field :color %>
  <%= f.hidden_field(:frog_id, :value => @frog.id) %>
  <%= f.submit %>
<% end %>
<a href="/tadpoles">Cancel</a>